<nav class="">
  <ul class="list-none text-[20px]  font-bold flex flex-initial flex-col md:flex-row gap-5">
    <li class="py-3">
      <a href="/" class="text-letra hover:opacity-100 dark:text-letra hover:text-letraoscura hover:dark:text-primari transition-all duration-300">
        Inicio
      </a>
    </li>
    <li class="py-3">
      <a href="#blog" class="text-letraoscura dark:text-primari hover:opacity-100 hover:dark:text-letra hover:text-letra transition-all duration-300">
        Sobre Mi
      </a>
    </li>
    <li class="py-3"> 
      <a href="#experiencia" class="text-letraoscura dark:text-primari hover:opacity-100 hover:dark:text-letra hover:text-letra transition-all duration-300">
        Experiencia
      </a>
    </li>
    <li class="py-3"> 
      <a href="#proyef" class="text-letraoscura dark:text-primari hover:opacity-100 hover:dark:text-letra hover:text-letra transition-all duration-300">
        Proyectos
      </a>
    </li>
  </ul>
</nav>
