---
import { Icon } from "astro-icon/components";
---

<div class=" flex mx-3 my-4">
  <a href="/perfil/miperfilcv.pdf" target="_blank" rel="noopener noreferrer" class="text-oscur text-[21px] hover:text-letra border border-letra hover:bg-oscur focus:ring-4 focus:outline-none focus:ring-[#1b1e4e] font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-letra dark:text-letra dark:hover:text-primari dark:hover:bg-[rgb(21,32,61)] dark:focus:ring-letra flex"><Icon class="font-bold size-6" name="cv" />| Mirar Perfil CV</a>
</div>

