---

---

<div class="contes ">
  <div class="contenedores">
    <p class="po font-bold dark:text-primari text-oscur">¡Más Sobre mi</p>
    <ul class="poo">
      <li class="pooo font-bold text-letra">Desarrollo!</li>
      <li class="pooo font-bold text-letra">Personalidad!</li>
      <li class="pooo font-bold text-letra">Status!</li>
    </ul>
  </div>
</div>
<style>
  .contes {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  .contenedores {
    display: flex;
    width: 720px;
    height: 40px;
    color: #fff;
    font-size: 50px;
    line-height: 40px;
    overflow: hidden;
  }
  @media screen and (max-width: 768px) {
    .contenedores {
      padding-left: 20px;
      font-size: 26px;
      line-height: 40px; /* Ajustar el interlineado para dispositivos más pequeños */
    }
  }
  .poo {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
  }

  .poo,
  .po {
    margin: 0;
  }

  @keyframes cambiar {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }

    25% {
      margin-top: -40px;
    }
    50% {
      margin-top: -40px;
    }

    55% {
      margin-top: -80px;
    }
    80% {
      margin-top: -80px;
    }

    85% {
      margin-top: -40px;
    }
    95% {
      margin-top: -40px;
    }

    100% {
      margin-top: 0;
    }
  }
</style>
