---
import Layout from '../layouts/Layout.astro';
import Seccion from '../components/Seccion.astro';
import Home from '../components/Home.astro';
import Project from '../components/project.astro';
import Skillser from '../components/Skillser.astro';
---

<Layout title="Portafolio Sergio">
	<main>
		<Seccion />
		<Home />
		<Project />
		<Skillser />

	</main>
</Layout>
