<style>
  
  .humo {
    mask-image: linear-gradient(rgb(255, 248, 248) 80%, transparent);
  }
</style>
<div id="imageContainer" class="duno humo absolute inset-x-0 top-0 w-full rounded-b-lg mx-auto my-0">
  <img id="imageElement" class="h-[620px]  lg:h-[590px] w-full lg:w-full" src="" alt="Slideshow Image">
</div>

<script>
  const imageUrls = [
    "/assets/User/p1.gif",
    "/assets/User/p3.gif",
  ];

  let currentImageIndex = 0;

  changeImage();
  setInterval(changeImage, 14000);

  function changeImage() {
    const imageElement = document.getElementById("imageElement") as HTMLImageElement;

    imageElement.src = imageUrls[currentImageIndex];
    currentImageIndex++;

    if (currentImageIndex >= imageUrls.length) {
      currentImageIndex = 0;
    }
  }
</script>