<style>
  
  .humo {
    mask-image: linear-gradient(rgb(255, 248, 248) 80%, transparent);
  }
</style>
<div id="imageContainer" class="duno humo absolute inset-x-0 top-0 w-full rounded-b-lg mx-auto my-0">
  <img id="imageElement" class="h-[610px] lg:h-[590px] w-full lg:w-full" src="" alt="">
</div>

<script>
  const imageUrls = [
    "/assets/User/noche.gif",
    "/assets/User/noche.gif",
  ];

  let currentImageIndex = -1;
  let lastImageIndex = -1;

  changeImage();
  setInterval(changeImage, 14000);

  function changeImage() {
    const imageElement = document.getElementById("imageElement") as HTMLImageElement;

    // Ensure the new index is different from the last index
    do {
      currentImageIndex = Math.floor(Math.random() * imageUrls.length);
    } while (currentImageIndex === lastImageIndex);

    imageElement.src = imageUrls[currentImageIndex];
    lastImageIndex = currentImageIndex;
  }
</script>