---
import Card from './Descripcion/Card.astro';
import Titulo from './Descripcion/Titulo.astro';
import Expe from './experiencia/Expe.astro';
---
<span
  style="transform: rotate(-110deg);"
  class="absolute w-[100px] h-[140px] sm:h-[300px] sm:w-[400px] rounded-full dark:bg-gradient-to-tr dark:from-luz dark:to-luz1 bg-gradient-to-tr from-[#b2ebdd] to-[#7a7a6f] opacity-60 blur-3xl end-14"
></span>
<article class="lg:pt-14 pt-3" id="blog">
  <Titulo />
  <div class="flex flex-col md:flex-row lg:pt-12 pt-6 lg:px-24 px-3">
    <Card />
  </div>
  <Expe />
</article>
