---

import Video from "./inicio/Video.astro";
---

<article class="overflow-y-auto  h-screen">
  <div class="relative w-full h-auto top-0 min-h-screen flex items-center justify-center">
    <Video />
    <img src="/assets/images/stackoscuro.gif" style="transform: rotate(-10deg);" class="w-[250px] h-[130px] absolute bottom-10 right-4 lg:w-[470px] lg:h-[250px] lg:right-10 lg:bottom-10"  alt="logofullstack"/>
  </div>
</article>