---
import Skilles from "./Skills/Skilles.astro"
import Talent from "./Skills/Talent.astro"

---

<article class=" h-screen w-full lg:px-44 px-5">
    <h2 class=" text-oscur dark:text-primari text-center pb-10 lg:pt-0 pt-36 lg:pb-24  font-extrabold text-[30px] lg:text-[50px]">
        ¡MIS Skills!
    </h2>
    <Skilles />
    <Talent />

</article>